.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 36px;
    padding: 10px 30px;

    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
    text-decoration: none;

    background: $white;
    border: 1px solid $gray;
    box-sizing: border-box;
    color: #3d4248;
    cursor: pointer;

    transition: all ease 0.15s;

    @include below($md-desktop) {
        min-width: 180px;
    }

    &:focus {
        outline: none;
        border: 1px solid $additionalGreen;
        background: $additionalGreen;
        color: $white;
    }

    &:hover {
        border: 1px solid $additionalGreen;
        background: $additionalGreen;
        color: $white;
    }

    &.isError {
        background-color: $red;
        border-color: $red;
    }

    &__btnWithIcon {
        padding-right: 50px;
    }

    &__btnIcon {
        position: absolute;
        right: 14px;
        top: 10px;

        width: 14px;
        height: 14px;

        fill: $white;
    }

    &.iconFirst {
        flex-direction: row-reverse;

        img,
        svg,
        picture {
            margin-right: 10px;
        }
    }

    &.iconLast {
        flex-direction: row;

        img,
        svg,
        picture {
            margin-left: 10px;
        }
    }

    &.iconTop {
        flex-direction: column-reverse;
        align-items: center;

        img,
        svg,
        picture {
            margin-bottom: 10px;
        }
    }

    &.iconBottom {
        flex-direction: column;
        align-items: center;

        img,
        svg,
        picture {
            margin-top: 10px;
        }
    }

    &.isActive {
        color: #fff;
        background: #3d4248;
        border: 1px solid #3d4248;

        &:hover {
            background: #3d4248;
            border: 1px solid #3d4248;
        }
    }

    &.btnSuccess {
        color: $white;
        background: $mainGreen;
        border: 1px solid $mainGreen;

        &:hover {
            background: $additionalGreen;
        }
    }

    &.btnDanger {
        color: $white;
        background-color: $red;
        border: 1px solid transparent;

        &:hover,
        &:focus {
            background-color: darken($red, 10%);
            border: 1px solid transparent;
        }
    }

    &__errorMessage {
        position: absolute;
        top: calc(100% + 3px);
        left: 0;

        width: 100%;

        font-size: 10px;
        color: $red;
        font-weight: 400;
        text-align: left;
        line-height: 1.2;
    }

}
